@page "/file-installation-branch"
@using Microsoft.AspNetCore.Components
@using Monitoring.Shared.DTO
@using Monitoring.Shared.DTO.PatchsDto
@using Monitoring.Shared.Enum
@using Monitoring.Shared.Models
@using System.Net.Http.Headers
@using System.Net
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Text.Json
@using System.Threading.Tasks
@using static Monitoring.Shared.DTO.PatchsDto.SelectedPatch
@layout BranchNavbarLayout
@inject IJSRuntime JS
@inject AlertService AlertService
@inject AppSettings Settings
@inject AuthCredential _auth


<div >
    <main class="main-content">
        <div class="transfer-container">
            <!-- Header -->
            <div class="transfer-header">
                <h1>Patch Update</h1>
                <div class="connection-status">
                    <span class="status-indicat"></span>
                    @* <span></span> *@
                </div>
            </div>

            <!-- Dual Panel Layout -->
            <div class="dual-panel col-12">
                <!-- Left Panel - Server Files -->
                <div class="panel col-12">
                   
                    <div class="panel-body">
                        <div class="col-12 p-3">
                            <div class="row">
                                <div class="col-6">
                                   
                                                
                                    <Dropdown Size="DropdownSize.Large" Class="dropdown-btn">
                                        <DropdownToggleButton Class="text-white">
                                            @selectedPatchTypeName
                                        </DropdownToggleButton>
                                        <DropdownMenu>
                                            @if (PatchTypeList != null)
                                            {
                                            @foreach (var item in PatchTypeList)
                                            {
                                                <DropdownItem Type="DropdownItemType.Link" @onclick="() => OnPatchTypeSelected(item)">@item.Name</DropdownItem>
                                                }
                                            }
                                            else
                                            {
                                                <span>Loding...</span>
                                            }
                                           
                                        </DropdownMenu>
                                    </Dropdown>
                                </div>
                                <div class="col-6">
                                    <Dropdown Size="DropdownSize.Large" Class="dropdown-btn">
                                        <DropdownToggleButton Class="text-white">
                                            @selectedPatchName
                                        </DropdownToggleButton>
                                        <DropdownMenu>
                                            @if (SelectedPatchList != null)
                                            {
                                                @foreach (var item in SelectedPatchList)
                                                {
                                                    <DropdownItem Type="DropdownItemType.Link" @onclick="() => OnPatchsSelected(item)">@item.Name</DropdownItem> 
                                                }
                                            }
                                            else
                                            {
                                                <span>Loding...</span>
                                            }
                                        </DropdownMenu>
                                    </Dropdown>
                                </div>
                                <div class="col-12 mt-2 d-flex justify-content-center align-items-center">
                                    <div class="rounded-3 p-3 text-center col-12"
                                         style="border: 1px solid #3e3e3f;">
                                        <div class="row mt-2" >
                                            @if (SelectPatch == null)
                                            {
                                            <div class="col-12 ">
                                                    <div style="height:50vh" class="d-flex flex-column   justify-content-center align-items-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" 
                                                             viewBox="0 0 512 512"
                                                             width="130"
                                                             height="130"
                                                             fill="white"
                                                             aria-hidden="true">
                                                            <path d="M414.682 218.274c0-4.465-3.618-8.084-8.084-8.084H212.727c-4.465 0-8.084 3.62-8.084 8.084s3.62 8.084 8.084 8.084h193.871c4.465 0 8.084-3.62 8.084-8.084z" />
                                                            <path d="M245.038 285.642c-4.465 0-8.084 3.62-8.084 8.084s3.62 8.084 8.084 8.084h1.078c4.465 0 8.084-3.62 8.084-8.084s-3.62-8.084-8.084-8.084z" />
                                                            <path d="M457.764 134.783V51.2c0-28.231-22.969-51.2-51.2-51.2H105.053c-28.231 0-51.2 22.969-51.2 51.2v212.948C23.917 265.561 0 290.375 0 320.674c0 31.204 25.369 56.589 56.552 56.589h147.707v28.003c0 3.609 1.694 7.017 4.65 9.352 5.026 3.97 12.608 3.97 17.637 0l41.887-33.081c3.958-3.126 6.228-7.631 6.228-12.359s-2.269-9.233-6.228-12.359l-41.887-33.081c-5.029-3.972-12.61-3.971-17.637-.001-2.957 2.335-4.652 5.743-4.652 9.353v28.004H70.021V51.2c0-19.316 15.716-35.032 35.032-35.032h301.512c19.317 0 35.032 15.716 35.032 35.032v83.537h-134.62v-28.003c0-3.61-1.695-7.018-4.652-9.353-5.027-3.971-12.608-3.969-17.635 0l-41.887 33.081c-3.959 3.126-6.229 7.631-6.229 12.359s2.27 9.233 6.228 12.359l41.888 33.081c5.028 3.971 12.609 3.97 17.633.002 2.958-2.334 4.654-5.743 4.654-9.354v-28.004H449.59c22.267 0 40.383 18.132 40.383 40.421 0 21.51-16.873 39.15-38.068 40.355v-52.751c0-4.465-3.618-8.084-8.084-8.084s-8.084 3.62-8.084 8.084V460.8c0 19.316-15.715 35.032-35.032 35.032H105.053c-19.316 0-35.032-15.716-35.032-35.032v-54.434c0-4.465-3.62-8.084-8.084-8.084s-8.084 3.62-8.084 8.084V460.8c0 28.231 22.969 51.2 51.2 51.2h301.512c28.231 0 51.2-22.969 51.2-51.2V247.869C487.876 246.648 512 221.753 512 191.326s-24.124-55.322-54.236-56.543z" />
                                                        </svg>
                                                        <div class="mt-4">
                                                            <Loder Height="40px" width="40px" />
                                                        </div>
                                                        
                                                    </div>
                                                </div>

                                            }
                                            else
                                            {
                                                
                                            <div class="col-7" >
                                                <div class="row ">

                                                <div class="col-8 d-flex justify-content-center">
                                                    <div class="col-11 p-2 rounded-4 text-white" style=" border: 1px solid #3e3e3f; background: linear-gradient(135deg, #3e3e3f 0%, #2f2f30 100%); ">
                                                       <div class="col-12 p-2">
                                                                <svg width="50px" height="50px"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M13 3H7C5.89543 3 5 3.89543 5 5V10M13 3L19 9M13 3V8C13 8.55228 13.4477 9 14 9H19M19 9V19C19 20.1046 18.1046 21 17 21H10C7.79086 21 6 19.2091 6 17V17C6 14.7909 7.79086 13 10 13H13M13 13L10 10M13 13L10 16" stroke="rgba(76, 175, 80, 0.7)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                                </svg>
                                                            </div>

                                                            <div class="col-12 gap-0">
                                                                    <span class="fs-3">@SelectPatch.PatchVersion</span> <br>
                                                                <span style="font-size:12px;">(Version)</span>
                                                            </div>
                                                            <div class="col-12 mt-2 gap-1 d-grid ps-3 pe-2">

                                                                <div class="col-12 d-flex  gap-0">
                                                                    <div class="row col-12">
                                                                        <div class="col-4 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50 ">Patch Type</span>
                                                                        </div>
                                                                        <div class="col-1 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50 ">:</span>
                                                                        </div>
                                                                        <div class="col-7 gap-0 text-start">
                                                                                <span style="font-size:14px;" class="text-white-50">@SelectPatch.PatchType</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 d-flex  gap-0">
                                                                    <div class="row col-12">
                                                                        <div class="col-4 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50">Patch Name</span>
                                                                        </div>
                                                                        <div class="col-1 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50 ">:</span>
                                                                        </div>
                                                                        <div class="col-7 gap-0 text-start">
                                                                                <span style="font-size:14px;" class="text-white-50">@SelectPatch.PatchZipName</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 d-flex  gap-0">
                                                                    <div class="row col-12">
                                                                        <div class="col-4 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50">ZIp File Path</span>
                                                                        </div>
                                                                        <div class="col-1 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50 ">:</span>
                                                                        </div>
                                                                            <div class="col-7 gap-0 text-start">
                                                                                <span style="font-size:14px; word-break: break-all;" class="text-white-50">
                                                                                    @($"{SelectPatch.PatchZipPath}\\{SelectPatch.PatchZipName}.zip")
                                                                                </span>
                                                                            </div>

                                                                    </div>
                                                                </div>

                                                                <div class="col-12 d-flex  gap-0">
                                                                    <div class="row col-12">
                                                                        <div class="col-4 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50">Date</span>
                                                                        </div>
                                                                        <div class="col-1 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50 ">:</span>
                                                                        </div>
                                                                        <div class="col-7 gap-0 text-start">
                                                                                <span style="font-size:14px;" class="text-white-50">@SelectPatch.CreateDate</span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 d-flex  gap-0">
                                                                    <div class="row col-12">
                                                                        <div class="col-4 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50">Status</span>
                                                                        </div>
                                                                        <div class="col-1 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50 ">:</span>
                                                                        </div>
                                                                        <div class="col-7 gap-0 text-start">
                                                                                @if (SelectPatch.EnrollBranch == null)
                                                                                {
                                                                                    <span class="text-warning">
                                                                                        Branch not assigned to this patch yet.
                                                                                    </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    switch (SelectPatch.EnrollBranch.Status)
                                                                                    {
                                                                                        case PatchStatus.SUCCESS:
                                                                                            <span class="text-success">
                                                                                                Branch successfully updated for this patch.
                                                                                            </span>
                                                                                            break;

                                                                                        case PatchStatus.FAILED:
                                                                                            <span class="text-danger">
                                                                                                Branch update incomplete or failed for this patch.
                                                                                            </span>
                                                                                            break;

                                                                                        case PatchStatus.ROLLBACK:
                                                                                            <span class="text-danger">
                                                                                                Patch rolled back on this branch.
                                                                                            </span>
                                                                                            break;

                                                                                        case PatchStatus.IN_PROGRESS:
                                                                                            <span class="text-info">
                                                                                                Patch update in progress.
                                                                                            </span>
                                                                                            break;

                                                                                        case PatchStatus.INIT:
                                                                                            <span class="text-secondary">
                                                                                                Patch initialized.
                                                                                            </span>
                                                                                            break;

                                                                                        default:
                                                                                            <span class="text-muted">
                                                                                                Unknown status.
                                                                                            </span>
                                                                                            break;
                                                                                    }
                                                                                }


                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-12 d-flex  gap-0">
                                                                    <div class="row col-12">
                                                                        <div class="col-4 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50">Remark</span>
                                                                        </div>
                                                                        <div class="col-1 gap-0 text-start">
                                                                            <span class="fs-6 text-white-50 ">:</span>
                                                                        </div>
                                                                        <div class="col-7 gap-0 text-start">
                                                                            <span style="font-size:14px;" class="text-white-50">
                                                                                    @SelectPatch.Remark

                                                                                
                                                                            </span>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                         
                                                    </div>

                                                </div>

                                                <div class="col-4 ">
                                                    <div>
                                                            
                                                            <button class="btn-upload w-100 mt-3" style="background: linear-gradient(135deg, #953e3f 0%, #b04e4f 100%);" @onclick="() => UploadAsync_Get()">
                                                                Push Branch
                                                            </button>
                                                    </div>
                                                        <div class="mt-5 " style=" border: 1px solid #3e3e3f; background: linear-gradient(135deg, #3e3e3f 0%, #2f2f30 100%); ">

                                                        <div class=" p-2  mb-3" >
                                                            <span class="text-white">Branch</span>

                                                            <div>

                                                            <button class="btn-upload w-100 mt-3" style="background: linear-gradient(135deg, #0f5132 0%, #198754 100%);">
                                                                    Check Update Available
                                                                </button>
                                                            </div> 
                                                        </div>

                                                        <div class=" p-2 mt-5 mb-3" >
                                                            <span class="text-white">Branch</span>
                                                           <div>
                                                            <button class="btn-upload w-100 mt-3" style="background: linear-gradient(135deg, #0f5132 0%, #198754 100%);">
                                                                Install New Update 
                                                            </button>
                                                            </div>

                                                            <div>

                                                                <button class="btn-upload w-100 mt-3" style="background: linear-gradient(135deg, #953e3f 0%, #b04e4f 100%);">
                                                                    Cancel
                                                                </button>
                                                            </div>
                                                            </div>
                                                        </div>
                                                       
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-5 " >
                                                <div class="col-12 p-2 d-flex justify-content-center">
                                                    <div class="col-12 bg-black opacity-75 rounded-2 p-2 ps-4 pe-4 " style=" border: 1px solid #3e3e3f; height:60vh">
                                                        <div class="uploaded-file " style="background: rgba(76, 175, 80, 0.1); border: 1px solid rgba(76, 175, 80, 0.3);">

                                                            <svg width="80px" height="80px" style="color: rgba(76, 175, 80, 0.5);" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M22 11.1V6.9C22 3.4 20.6 2 17.1 2H12.9C9.4 2 8 3.4 8 6.9V8H11.1C14.6 8 16 9.4 16 12.9V16H17.1C20.6 16 22 14.6 22 11.1Z" stroke="rgba(76, 175, 80, 0.5)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M16 17.1V12.9C16 9.4 14.6 8 11.1 8H6.9C3.4 8 2 9.4 2 12.9V17.1C2 20.6 3.4 22 6.9 22H11.1C14.6 22 16 20.6 16 17.1Z" stroke="rgba(76, 175, 80, 0.5)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M6.08008 15L8.03008 16.95L11.9201 13.05" stroke="rgba(76, 175, 80, 0.5)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>

                                                            <div class="file-info-upload overflow-hidden">
                                                                <span class="file-name-upload ">dsgf</span>
                                                                <span class="file-size-upload">Patch Deployment Server Successfully</span>
                                                            </div>

                                                            <div class="div-status p-1" style="background: rgba(76, 175, 80, 0.1); border: 1px solid rgba(76, 175, 80, 0.3);">
                                                                <span class="text-success ">Success</span>

                                                            </div>

                                                        </div>

                                                        <div class="uploaded-file  " style="background: rgba(255, 152, 0, 0.1); border: 1px solid rgba(255, 152, 0, 0.3);">

                                                            <svg width="80px" height="80px" viewBox="0 0 24 24" style="color: rgba(255, 152, 0, 0.5);" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M10.25 4.00003C10.25 3.69074 10.0602 3.41317 9.77191 3.30105C9.48366 3.18892 9.15614 3.26524 8.94715 3.49324L3.44715 9.49324C3.24617 9.71248 3.19374 10.0298 3.3135 10.302C3.43327 10.5743 3.70259 10.75 4.00002 10.75H20C20.4142 10.75 20.75 10.4142 20.75 10C20.75 9.58582 20.4142 9.25003 20 9.25003L10.25 9.25003V4.00003Z" fill="rgba(255, 152, 0, 0.5)" />
                                                                <path d="M13.75 20L13.75 14.75H4.00002C3.5858 14.75 3.25002 14.4142 3.25002 14C3.25002 13.5858 3.5858 13.25 4.00002 13.25L20 13.25C20.2974 13.25 20.5668 13.4258 20.6865 13.698C20.8063 13.9703 20.7539 14.2876 20.5529 14.5068L15.0529 20.5068C14.8439 20.7348 14.5164 20.8111 14.2281 20.699C13.9399 20.5869 13.75 20.3093 13.75 20Z" fill="rgba(255, 152, 0, 0.5)" />
                                                            </svg>

                                                            <div class="file-info-upload overflow-hidden">
                                                                <span class="file-name-upload ">dgh</span>
                                                                <span class="file-size-upload">Patch Deployment InProcessing</span>
                                                            </div>

                                                            <Spinner Color="SpinnerColor.Secondary" Size="SpinnerSize.Medium" />
                                                        </div>


                                                        <div class="uploaded-file  " style="background: rgba(82, 132, 250, 0.1); border: 1px solid rgba(82, 132, 250, 0.3);">

                                                            <svg width="80px" height="80px" viewBox="0 0 24 24" style="color: rgba(82, 132, 250, 0.5);" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M10.25 4.00003C10.25 3.69074 10.0602 3.41317 9.77191 3.30105C9.48366 3.18892 9.15614 3.26524 8.94715 3.49324L3.44715 9.49324C3.24617 9.71248 3.19374 10.0298 3.3135 10.302C3.43327 10.5743 3.70259 10.75 4.00002 10.75H20C20.4142 10.75 20.75 10.4142 20.75 10C20.75 9.58582 20.4142 9.25003 20 9.25003L10.25 9.25003V4.00003Z" fill="rgba(255, 152, 0, 0.5)" />
                                                                <path d="M13.75 20L13.75 14.75H4.00002C3.5858 14.75 3.25002 14.4142 3.25002 14C3.25002 13.5858 3.5858 13.25 4.00002 13.25L20 13.25C20.2974 13.25 20.5668 13.4258 20.6865 13.698C20.8063 13.9703 20.7539 14.2876 20.5529 14.5068L15.0529 20.5068C14.8439 20.7348 14.5164 20.8111 14.2281 20.699C13.9399 20.5869 13.75 20.3093 13.75 20Z" fill="rgba(255, 152, 0, 0.5)" />
                                                            </svg>

                                                            <div class="file-info-upload overflow-hidden">
                                                                <span class="file-name-upload ">fgdf</span>
                                                                <span class="file-size-upload">Converting to Zip</span>
                                                            </div>

                                                            <Spinner Color="SpinnerColor.Secondary" Size="SpinnerSize.Medium" />
                                                        </div>

                                                        <div class="uploaded-file  " style="background: rgba(149, 62, 63, 0.1); border: 1px solid rgba(149, 62, 63, 0.3);">




                                                            <svg width="80px" height="80px" viewBox="0 0 24 24" fill="none">
                                                                <path d="M12 16H12.01M12 8V12M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#953e3f" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                            <div class="file-info-upload overflow-hidden">
                                                                <span class="file-name-upload ">fghfg</span>
                                                                <span class="file-size-upload">Patch Deployment Failure</span>
                                                            </div>

                                                            <div class="div-status p-1" style="background: rgba(149, 62, 63, 0.2); border: 1px solid rgba(149, 62, 63, 0.3);">
                                                                <span class="text-danger ">
                                                                    Retry
                                                                </span>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            }

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                       
                    </div>

                </div>

                <!-- Transfer Controls -->
             

                <!-- Right Panel - Branch Files -->
               
            </div>

           
        </div>
    </main>
</div>
<AlertContainer />

@code{

    private string? JWTToken;

    private List<SelectedAnyDropDownOrSamllData>? PatchTypeList;
    private string? selectedPatchTypeName = "Select Update Type";
    private string? selectedPatchName = "First Select Update Type ";


    private List<SelectedAnyDropDownOrSamllData>? SelectedPatchList;
    private SelectedPatch? SelectPatch;





    protected override async Task OnInitializedAsync()
    {

        JWTToken = await GetJwtToken();

        if (JWTToken != null)
        {
            if (await getPatchesTypeAsync(Settings.MainApiBaseUrl, JWTToken))
            {

            }

            // await InilizeSignalR();
            StateHasChanged();
        }
    }

    private async Task<string?> GetJwtToken()
    {
        try
        {
            var getJWT = new getJWTTokens(JS);
            return await getJWT.GetJWTLoggedInBranchAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"JWT Error: {ex.Message}");
            return null;
        }
    }


    private async Task<LoggedInUser> getUserDetails()
    {
        return await _auth.getLogginUserDetiles();
    }
    private async Task<LogInBranchDeties> getBranchDetails()
    {
        return await _auth.getLogginBranchDetiles();
    }



    private async Task OnPatchTypeSelected(SelectedAnyDropDownOrSamllData patchType)
    {
        selectedPatchTypeName = patchType.Name;
        selectedPatchName = $"Select {patchType.Name}";

        if (JWTToken == null)
            JWTToken = await GetJwtToken();

        if (await getSelectedPatchesAsync(Settings.MainApiBaseUrl, JWTToken, patchType.Id))
        {
            StateHasChanged();
        }

    }


    private async Task OnPatchsSelected(SelectedAnyDropDownOrSamllData patch)
    {
        selectedPatchName = $"{patch.Name}";

        if (JWTToken == null)
            JWTToken = await GetJwtToken();

        if (await getSelectedPatchAllAsync(Settings.MainApiBaseUrl, JWTToken, patch.Id))
        {
            StateHasChanged();
        }


    }

    private async Task UploadAsync_Get()
    {
        if (JWTToken == null)
            JWTToken = await GetJwtToken();

        if(SelectPatch != null)
        {
            var user = await getUserDetails();
            var obj = new APIRequestObject<SelectedBranchAssingPatch>
            {
                ReqValue = new SelectedBranchAssingPatch
                {
                   PatchId = SelectPatch.PId,
                    ExtraValue = user.UserId,
                }
            };

            if (SelectPatch.EnrollBranch == null)
            {
                obj.ReqValue.Status = PatchStatus.INIT;

            }
            else
            {
                obj.ReqValue.Status = SelectPatch.EnrollBranch.Status;
                obj.ReqValue.ProcessLevel = SelectPatch.EnrollBranch.ProcessLevel;
            }
            if (await PatchdeployBranch(Settings.MainApiBaseUrl, JWTToken, obj))
            {
                StateHasChanged();
            }



        }



    }


    private async Task<bool> getPatchesTypeAsync(string baseUrl, string jwtToken)
    {
        try
        {

            using var client = new HttpClient { BaseAddress = new Uri(baseUrl) };
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", jwtToken);

            var response = await client.GetAsync("api/Patches/getPatchesTypes");


            var result = await response.Content.ReadFromJsonAsync<APIResponseCoustomizeList<SelectedAnyDropDownOrSamllData, NewPatch>>();

            if (response.IsSuccessStatusCode)
            {

                if (result != null && result.StatusCode == 2 && result.Status == true)
                {
                    PatchTypeList = result.ValueList;
                    return true;
                }
            }
            else
            {
                switch (response.StatusCode)
                {
                    case HttpStatusCode.BadRequest:
                    case HttpStatusCode.NotFound:
                    case HttpStatusCode.Unauthorized:
                        if (result?.StatusCode == 1 && result.Status == false)
                        {
                            AlertService.ShowError("File Sharing Error", $"{result.Message}. Please try again.");
                            return false;
                        }
                        break;

                    case HttpStatusCode.InternalServerError: // 500

                        if (result?.StatusCode == 0 && result.Status == false)
                        {
                            var serverMsg = result?.Message ?? "Server error occurred.";
                            // var content = await response.Content.ReadAsStringAsync();
                            Console.WriteLine($"Server 500 response body: {result?.Ex}");
                            AlertService.ShowError("Server Error", $"{serverMsg}. Please contact support.");
                            return false;
                        }
                        break;

                }


            }

            return false;

        }
        catch (HttpRequestException ex)
        {
            AlertService.ShowError("Server Error", "Server fetch failed. Please contact support.");
            Console.WriteLine($"HttpRequestException: {ex.Message}");
            return false;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"General Exception: {ex.Message}");
            return false;
        }

    }

    // Get Selected Pathch
    private async Task<bool> getSelectedPatchesAsync(string baseUrl, string jwtToken,int patchtype)
    {
        try
        {
            using var client = new HttpClient { BaseAddress = new Uri(baseUrl) };
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", jwtToken);

            var response = await client.GetAsync($"api/Patches/getSelectedPatches?patchtype={patchtype}");


            var result = await response.Content.ReadFromJsonAsync<APIResponseOnlyList<SelectedAnyDropDownOrSamllData>>();

            if (response.IsSuccessStatusCode)
            {

                if (result != null && result.StatusCode == 2 && result.Status == true)
                {
                    SelectedPatchList = result.ValueList;
                    return true;
                }
            }
            else
            {
                switch (response.StatusCode)
                {
                    case HttpStatusCode.BadRequest:
                    case HttpStatusCode.NotFound:
                    case HttpStatusCode.Unauthorized:
                        if (result?.StatusCode == 1 && result.Status == false)
                        {
                            AlertService.ShowError("File Sharing Error", $"{result.Message}. Please try again.");
                            return false;
                        }
                        break;

                    case HttpStatusCode.InternalServerError: // 500

                        if (result?.StatusCode == 0 && result.Status == false)
                        {
                            var serverMsg = result?.Message ?? "Server error occurred.";
                            // var content = await response.Content.ReadAsStringAsync();
                            Console.WriteLine($"Server 500 response body: {result?.Ex}");
                            AlertService.ShowError("Server Error", $"{serverMsg}. Please contact support.");
                            return false;
                        }
                        break;

                }


            }

            return false;

        }
        catch (HttpRequestException ex)
        {
            AlertService.ShowError("Server Error", "Server fetch failed. Please contact support.");
            Console.WriteLine($"HttpRequestException: {ex.Message}");
            return false;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"General Exception: {ex.Message}");
            return false;
        }
    }

    // Get Selected Pathch All
    private async Task<bool> getSelectedPatchAllAsync(string baseUrl, string jwtToken, int patchtype)
    {
        try
        {
            using var client = new HttpClient { BaseAddress = new Uri(baseUrl) };
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", jwtToken);

            var response = await client.GetAsync($"api/Patches/getSelectedPatchAllDetails?patchId={patchtype}");


            var result = await response.Content.ReadFromJsonAsync<APIResponseObjectValue<SelectedPatch>>();

            if (response.IsSuccessStatusCode)
            {

                if (result != null && result.StatusCode == 2 && result.Status == true)
                {
                    SelectPatch = result.Value;
                    return true;
                }
            }
            else
            {
                switch (response.StatusCode)
                {
                    case HttpStatusCode.BadRequest:
                    case HttpStatusCode.NotFound:
                    case HttpStatusCode.Unauthorized:
                        if (result?.StatusCode == 1 && result.Status == false)
                        {
                            AlertService.ShowError("File Sharing Error", $"{result.Message}. Please try again.");
                            return false;
                        }
                        break;

                    case HttpStatusCode.InternalServerError: // 500

                        if (result?.StatusCode == 0 && result.Status == false)
                        {
                            var serverMsg = result?.Message ?? "Server error occurred.";
                            // var content = await response.Content.ReadAsStringAsync();
                            Console.WriteLine($"Server 500 response body: {result?.Ex}");
                            AlertService.ShowError("Server Error", $"{serverMsg}. Please contact support.");
                            return false;
                        }
                        break;

                }


            }

            return false;

        }
        catch (HttpRequestException ex)
        {
            AlertService.ShowError("Server Error", "Server fetch failed. Please contact support.");
            Console.WriteLine($"HttpRequestException: {ex.Message}");
            return false;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"General Exception: {ex.Message}");
            return false;
        }
    }


    private async Task<bool> PatchdeployBranch(string baseUrl, string jwtToken, APIRequestObject<SelectedBranchAssingPatch> obj)
    {
        try
        {
            using var client = new HttpClient { BaseAddress = new Uri(baseUrl) };
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", jwtToken);
            var response = await client.PostAsJsonAsync("api/Patches/PatchdeployBranch", obj);

            var result = await response.Content.ReadFromJsonAsync<APIResponseObjectValue<SelectedPatch>>();

            if (response.IsSuccessStatusCode)
            {

                if (result != null && result.StatusCode == 2 && result.Status == true)
                {
                    // SelectPatch = result.Value;
                    return true;
                }
            }
            else
            {
                switch (response.StatusCode)
                {
                    case HttpStatusCode.BadRequest:
                    case HttpStatusCode.NotFound:
                    case HttpStatusCode.Unauthorized:
                        if (result?.StatusCode == 1 && result.Status == false)
                        {
                            AlertService.ShowError("File Sharing Error", $"{result.Message}. Please try again.");
                            return false;
                        }
                        break;

                    case HttpStatusCode.InternalServerError: // 500

                        if (result?.StatusCode == 0 && result.Status == false)
                        {
                            var serverMsg = result?.Message ?? "Server error occurred.";
                            // var content = await response.Content.ReadAsStringAsync();
                            Console.WriteLine($"Server 500 response body: {result?.Ex}");
                            AlertService.ShowError("Server Error", $"{serverMsg}. Please contact support.");
                            return false;
                        }
                        break;

                }


            }

            return false;

        }
        catch (HttpRequestException ex)
        {
            AlertService.ShowError("Server Error", "Server fetch failed. Please contact support.");
            Console.WriteLine($"HttpRequestException: {ex.Message}");
            return false;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"General Exception: {ex.Message}");
            return false;
        }
    }


    // private async Task UploadAsync_Get()
    // {
    //     try
    //     {
    //         var token = await GetJwtToken();

    //         var patchId = Guid.NewGuid();      for testing
    //         var branchId = "BRANCH003";        optional

    //         using var client = new HttpClient { BaseAddress = new Uri(Settings.MainApiBaseUrl) };
    //         client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

    //         Build query string
    //         var url = $"api/Patches/PatchdeployBranch?status={patchId}";

    //         var response = await client.GetAsync(url);

    //         APIResponseObjectValue<object>? result = null;

    //         if (response.Content.Headers.ContentLength > 0)
    //         {
    //             var options = new System.Text.Json.JsonSerializerOptions
    //             {
    //                 PropertyNameCaseInsensitive = true
    //             };

    //             result = await response.Content.ReadFromJsonAsync<APIResponseObjectValue<object>>(options);
    //         }

    //         if (result != null)
    //         {
    //             if (result.Status)
    //             {
    //                 Console.WriteLine("SUCCESS: Patch deployment initiated (GET)");
    //                 Console.WriteLine($"Message: {result.Message}");
    //                 Console.WriteLine($"Payload: {System.Text.Json.JsonSerializer.Serialize(result.Value)}");
    //             }
    //             else
    //             {
    //                 Console.WriteLine($"FAILED: {result.Message}");
    //             }
    //         }
    //         else
    //         {
    //             Console.WriteLine("No content returned from API");
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine($"Exception: {ex}");
    //         AlertService.ShowError("Client Error", ex.Message);
    //     }
    // }



}

<style>

    .dropdown-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid #3e3e3f;
        border-radius: 6px;
        color: white;
        font-size: 13px;
        cursor: pointer;
        transition: all 0.3s ease;
        white-space: nowrap;
    }

        .dropdown-btn:hover {
            background: rgba(149, 62, 63, 0.2);
            border-color: #953e3f;
            color: white;
        }

        .dropdown-btn svg {
            color: #999;
            transition: transform 0.3s ease;
        }

        .dropdown-btn:hover svg {
            color: #953e3f;
        }

    .dropdown-menu {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        min-width: 240px;
        background: #2a2a2b;
        border: 1px solid #3e3e3f;
        border-radius: 8px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
        z-index: 1000;
        overflow: hidden;
        animation: dropdownSlide 0.2s ease;
    }

    @@keyframes dropdownSlide {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(35px);
        }
    }

    .dropdown-item {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px 14px;
        color: #ffffff;
        font-size: 13px;
        cursor: pointer;
        transition: all 0.3s ease;
        border-bottom: 1px solid #3e3e3f;
    }

        .dropdown-item:last-child {
            border-bottom: none;
        }

        .dropdown-item:hover {
            background: rgba(149, 62, 63, 0.2);
        }

        .dropdown-item.active {
            background: rgba(149, 62, 63, 0.3);
        }

            .dropdown-item.active .item-title {
                color: #953e3f;
            }

        .dropdown-item > svg {
            color: #666;
            flex-shrink: 0;
        }

        .dropdown-item.active > svg {
            color: #953e3f;
        }

    .dropdown-item-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }


    .uploaded-file {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 20px;
        padding: 16px;
        background: rgba(76, 175, 80, 0.1);
        border: 1px solid rgba(76, 175, 80, 0.3);
        /* background: rgba(149, 62, 63, 0.1);
            border: 1px solid rgba(149, 62, 63, 0.3); */
        border-radius: 10px;
    }

        .uploaded-file svg {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
        }

    .file-info-upload {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .file-name-upload {
        font-size: 14px;
        color: #ffffff;
        font-weight: 600;
    }

    .file-size-upload {
        font-size: 12px;
        color: #666;
    }

    .btn-remove {
        width: 32px;
        height: 32px;
        background: rgba(149, 62, 63, 0.2);
        border: 1px solid rgba(149, 62, 63, 0.3);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .div-status {
        font-size: 14px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }


    .btn-remove:hover {
        background: rgba(149, 62, 63, 0.3);
        transform: rotate(90deg);
    }

    .btn-remove svg {
        width: 16px;
        height: 16px;
        color: #953e3f;
    }


</style>